#filter_clear {
	height: 33px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.panel-primary>.panel-heading {
	background-color: #000;
    border-color: #000;
}

.panel-primary {
    border-color: #000;
}

.item {
	text-align: center;
}

.item a {
	color: #000;
	margin-bottom: 15px;
}

.product-price {
	font-weight: bold;
	margin: 15px 0;
}

#add_button {
	background: #000;
    color: #fff;
    border: none;
    width: 100%;
    margin: 15px 0;
    height: 33px;
}

th {
	padding: 5px;
}